<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>November</ion-card-subtitle>
      <ion-card-title>Net Salary</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      $888.000
    </ion-card-content>
  </ion-card>

  <ion-grid [class]="tableTheme">
    <ion-row [class]="tableHeader">
      <ion-col>Type</ion-col>
      <ion-col >Amount</ion-col>
      <ion-col>description</ion-col>
      <ion-col >Balance</ion-col>
    </ion-row>

    <ion-row *ngFor="let item of records">
      <ion-col>{{ item?.type }}</ion-col>
      <ion-col>{{ item?.amount }}</ion-col>
      <ion-col>{{ item?.description }}</ion-col>
      <ion-col>{{ item?.balance }}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
